a:link, a:visited, a:hover, a:active { color: rgb(51, 51, 51); cursor: pointer; }
body, table, div, ul, li { font-size: 10px; margin: 0px; padding: 0px; }
body { background-color: transparent; font-family: verdana,arial,sans-serif; height: 100%; }
#aus { height: 60px; width: 468px; }
#ads { left: 1px; position: absolute; top: 1px; width: 466px; }
#ads ul { list-style: none outside none; }
#ads ul li { float: left; height: 40px; overflow: hidden; width: 233px; }
.ad { margin: 0px 2px; }
.adt { font-size: 11px; font-weight: bold; line-height: 14px; }
.adb { color: rgb(51, 51, 51); display: block; font-size: 10px; line-height: 13px; }
.adu { color: rgb(120, 149, 55); font-size: 10px; line-height: 12px; overflow: hidden; white-space: nowrap; }
.adus { cursor: pointer; }
#att { left: 379px; position: absolute; top: 41px; }
#att ul { height: 18px; list-style: none outside none; width: 88px; }
#att ul li { float: left; }
#abgf { background-color: rgb(51, 51, 51); height: 18px; width: 70px; }
#abgt { height: 18px; position: relative; width: 18px; }
#abgi { left: 392px; position: absolute; top: 43px; }
#aubg { background-color: rgb(255, 255, 255); border: 1px solid rgb(51, 51, 51); height: 58px; width: 466px; }
#abgt .curve div { background-color: rgb(51, 51, 51); }
